
#gear {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#gear li {
    list-style: none;
    position: relative;
    background: rgb(114, 183, 204);
    border: 2px dotted teal;
    border-radius: 5px;
    width: 175px;
    height: 240px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

#gear li:hover {
    box-shadow: 2px 2px 3px rgb(114, 39, 39);
    transform: translate3d(-2px, -2px, 0);
    border: 2px dotted hotpink;
}

#gear li h3 {
    font-size: 13px;
    margin: 0px;
}

#gear li img {
    /* width: 50%; */
    min-width: 90px;
    max-width: 120px;
    max-height: 120px;
    min-height: 100px;
    margin-top: 20px;
    max-height: 130px;
    /* float: left; */
}

#gear select {
    /* display: flex;
    justify-content: right; */
    border: 2px dotted hotpink;
    float: left;
    /* display: block; */
    background-color: aquamarine;
    opacity: 0.6;

    margin-top: 10px;
    /* margin-left: 5px; */
}


.price {
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    margin-bottom: 5px;
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    color: aquamarine;
}

.price button {
    transition: color 200ms ease-in-out;
    color: red;
    background: aquamarine;
    font-size: 13px;
    opacity: 0.6;
    font-family: monospace;
    float: right;
    border-radius: 8px;
    border: 2px dotted hotpink;

}
.price button:hover {
    background: #aaa;
    color: black;
    border: 2px dotted hotpink;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
}



