@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald|ZCOOL+QingKe+HuangYou');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    background: #50518d;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(114, 183, 204);
    color: aquamarine;
    font-size: 12px;
}

header nav a {
    color: whitesmoke;
    border: 1px solid white;
    padding: 3px 8px;
    text-decoration: none;
    transition: color 200ms ease-in;
    background-color: aquamarine;
}

header nav a:hover {
    color: teal;
    border: 1px dotted teal;
    background-color: aquamarine;
}

header, main {
    padding: 8px;
}

img {
    border: 2px dotted #6cc92e;
}

img:hover {
    border: 2px dotted hotpink;
}

/* unvisited link */
a:link {
    color: aquamarine;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: aquamarine;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-left: 5px;
}

h3 {
    text-shadow: 1px 2px rgb(78, 153, 128);
    text-align: right;
    border-style: solid;
    border-color: aquamarine;
    background-color: aquamarine;
    font-size: 13px;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.open-image {
    height: 100px;
    width: 200px;
    margin-top: -35px;
}